obj
/EventManagerPro.DBLayer/bin/
/EventManagerPro.DBLayer/bin/Debug/
/EventManagerApp/bin/Debug/EventManagerApp.exe
/EventManagerApp/bin/Debug/EventManagerApp.exe.config
/EventManagerApp/bin/Debug/EventManagerApp.pdb
/EventManagerApp/bin/Debug/EventManagerApp.vshost.exe
/EventManagerApp/bin/Debug/EventManagerApp.vshost.exe.config
/EventManagerApp/bin/Debug/EventManagerApp.vshost.exe.manifest
/EventManagerApp/bin/Debug/Eventmodel.exe
/EventManagerApp/bin/Debug/Eventmodel.pdb
/EventManagerApp/bin/Debug/Microsoft.Expression.Drawing.dll
/EventManagerApp/bin/Debug/Microsoft.Expression.Drawing.xml
/EventManagerApp/bin/Debug/Microsoft.Windows.Shell.dll
/EventManagerApp/bin/Debug/Microsoft.Windows.Shell.xml
/EventManagerPro/bin/Debug/EventManagerPro.vshost.exe
/EventManagerPro/bin/Debug/Elysium.Theme.dll
/EventManagerPro/bin/Debug/Elysium.Theme.xml
/EventManagerPro/bin/Debug/EntityFramework.dll
/EventManagerPro/bin/Debug/EntityFramework.xml
/EventManagerPro/bin/Debug/EventManagerPro.DBLayer.exe
/EventManagerPro/bin/Debug/EventManagerPro.DBLayer.pdb
/EventManagerPro/bin/Debug/EventManagerPro.exe
/EventManagerPro/bin/Debug/EventManagerPro.exe.config
/EventManagerPro/bin/Debug/EventManagerPro.pdb
/EventManagerPro/bin/Debug/EventManagerPro.vshost.exe.config
/EventManagerPro/bin/Debug/EventManagerPro.vshost.exe.manifest
/EventManagerPro/bin/Debug/Microsoft.Expression.Drawing.dll
/EventManagerPro/bin/Debug/Microsoft.Expression.Drawing.xml
/EventManagerPro/bin/Debug/Microsoft.Windows.Shell.dll
/EventManagerPro/bin/Debug/Microsoft.Windows.Shell.xml